<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>helpCenter</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="../static/script.js"></script>


</head>

<body>


    <header>
        <h1>QuickShop Hub</h1>

        <div class="search-bar">
            <input type="text" placeholder="Search products" class="search-input">
            <button class="search-button">Search</button>
        </div>

        <nav class="navbar">
            <ul>
                <li><a href="../templates/index.html">Home</a></li>
                <li><a href="../templates/product.html">Products</a></li>
                <li><a href="../templates/carts.html">Cart</a></li>
                <li><a href="../templates/helpcenter.html">Help Center</a></li>
            </ul>
        </nav>
    </header>
    <section class="help-center">
        <div class="hlp">
            <h2>Help Center</h2>
            <p>Welcome to our Help Center. Below you'll find answers to some of the most frequently asked questions:</p>
            <ul class="faq-list">
                <li>
                    <h3>How do I place an order?</h3>
                    <p>Placing an order is easy. Just follow these steps...</p>
                </li>
                <li>
                    <h3>What payment methods do you accept?</h3>
                    <p>We accept various payment methods, including credit cards and PayPal...</p>
                </li>
                <li>
                    <h3>How can I track my order?</h3>
                    <p>You can track your order by...</p>
                </li>
                <!-- Add more FAQs here -->
            </ul>
            <div class="contact-support">
                <p>Still need help?</p>
                <p>If you couldn't find the answer to your question in our FAQ, feel free to contact our support team:
                </p>
                <a href="../templates/contactForm.html" target=" " class="contact-link">Contact Support</a>
            </div>
        </div>
    </section>

    <!-- The rest of your webpage content goes here -->
    <footer>
        <p>&copy; 2023 My E-Commerce Store. QuickShop Hub</p>
    </footer>
</body>

</html>