<!DOCTYPE html>
<html>

<head>
    <title>Website</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>

<body>
   
      <header>
        <h1>QuickShop Hub</h1>

        <div class="search-bar">
            <input type="text" placeholder="Search products" class="search-input">
            <button class="search-button">Search</button>
        </div>

        <nav class="navbar">
            <ul>
                <li><a href="../templates/index.html">Home</a></li>
                <li><a href="../templates/product.html">Products</a></li>
                <li><a href="../templates/carts.html">Cart</a></li>
                <li><a href="../templates/helpcenter.html">Help Center</a></li>
            </ul>
        </nav>
    </header>

    

    <section class="home" id="home">
       
        <div class="hm">
            <div class="welcome-message">
                <h1>Welcome To QUICKSHOP HUB</h1>
            </div>
            <h2>Our Some Most Popular Products </h2>

            <div class="product-list">
                <div class="products">
                    <img src="../static/product1.jpg" alt="Product 1">
                    <h3>Watch</h3>
                    <p class="brand-label">Titan</p>
                    <p class="price">$20.99</p>
                    <a href="../templates/payment.html"><button class="add-to-cart"  >Buy Now</button></a>
                </div>
                <div class="product">
                    <img src="../static/product2.webp" alt="Product 2">
                    <h3>Watch</h3>
                    <p class="brand-label">Titan</p>
                    <p class="price">$29.99</p>
                    <a href="../templates/payment.html"><button class="add-to-cart"  >Buy Now</button></a>
                </div>
                <div class="product">
                    <img src="../static/product1.jpg" alt="Product 3">
                    <h3>Watch</h3>
                    <p class="brand-label">Titan</p>
                    <p class="price">$25.99</p>
                    <a href="../templates/payment.html"><button class="add-to-cart"  >Buy Now</button></a>
                </div>
                <!-- Add more products here -->
            </div>
            <div class="product-list">
                <div class="products">
                    <img src="../static/homeImg1.webp" alt="Product 1">
                    <h3>Shoes</h3>
                    <p class="brand-label">Shoes</p>
                    <p class="price">$20.99</p>
                    <a href="../templates/payment.html"><button class="add-to-cart"  >Buy Now</button></a>
                </div>
                <div class="product">
                    <img src="../static/homeImg2.webp" alt="Product 2">
                    <h3>Shoes</h3>
                    <p class="brand-label">Shoes</p>
                    <p class="price">$29.99</p>
                    <a href="../templates/payment.html"><button class="add-to-cart"  >Buy Now</button></a>
                </div>
                <div class="product">
                    <img src="../static/homeImg1.webp" alt="Product 3">
                    <h3>Shoes</h3>
                    <p class="brand-label">Shoes</p>
                    <p class="price">$25.99</p>
                    <a href="../templates/payment.html"><button class="add-to-cart"  >Buy Now</button></a>
                </div>
                <!-- Add more products here -->
            </div>


        </div>
    </section>

    <section class="newsletter">
        <h2>Subscribe to Our Newsletter</h2>
        <p>Get the latest updates and exclusive offers.</p>
        <form>
            <input type="email" placeholder="Your email address" class="email-input">
            <button class="subscribe-button">Subscribe</button>
        </form>
    </section>

    <footer>
        <p>2023 My E-Commerce Store. QuickShop Hub</p>
    </footer>




</body>

</html>