<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="../static/script.js"></script>


</head>

<body>

    <header>
        <h1>QuickShop Hub</h1>

        <div class="search-bar">
            <input type="text" placeholder="Search products" class="search-input">
            <button class="search-button">Search</button>
        </div>

        <nav class="navbar">
            <ul>
                <li><a href="../templates/index.html">Home</a></li>
                <li><a href="../templates/product.html">Products</a></li>
                <li><a href="../templates/carts.html">Cart</a></li>
                <li><a href="../templates/helpcenter.html">Help Center</a></li>
            </ul>
        </nav>
    </header>

    <section class="featured-products">
        <h2>Featured Products</h2>
        <div class="product" id="product">
            <img src="../static/product1.jpg" alt="Product 1">
            <h3>Product 1</h3>
            <p class="price">$20.99</p>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product">
            <img src="../static/product2.webp" alt="Product 2">
            <h3>Product 2</h3>
            <p class="price">$29.99</p>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product">
            <img src="../static/product1.jpg" alt="Product 2">
            <h3>Product 3</h3>
            <p class="price">$25.99</p>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product">
            <img src="../static/product2.webp" alt="Product 2">
            <h3>Product 4</h3>
            <p class="price">$30.99</p>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product" id="product">
            <img src="../static/product1.jpg" alt="Product 1">
            <h3>Product 1</h3>
            <p class="price">$20.99</p>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product">
            <img src="../static/homeImg2.webp" alt="Product 2">
            <h3>Product 2</h3>
            <p class="price">$29.99</p>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product">
            <img src="../static/homeImg1.webp" alt="Product 2">
            <h3>Product 3</h3>
            <p class="price">$25.99</p>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product">
            <img src="../static/homeImg2.webp" alt="Product 2">
            <h3>Product 2</h3>
            <p class="price">$29.99</p>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product">
            <img src="../static/homeImg1.webp" alt="Product 2">
            <h3>Product 3</h3>
            <p class="price">$25.99</p>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product">
            <img src="../static/homeImg2.webp" alt="Product 2">
            <h3>Product 4</h3>
            <p class="price">$30.99</p>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <!-- More products go here -->
    </section>

    <footer>
        <p>&copy; 2023 My E-Commerce Store. QuickShop Hub</p>
    </footer>

</body>

</html>